---
import Layout from "../../../layouts/ProjectIndexLayout.astro";
import AnimBlock from "../../../components/AnimationBlock.astro";
import Item from "../../../components/Item.astro";
const title = "Web Development";
import "../../../styles/Projects.css";
import "../../../styles/HoverUnderline.css";
const pages = await Astro.glob("../websites/*.mdx");
import video from "../../../images/PortfolioVideo.mp4";
import TitleItem from "../../../components/TitleItem.astro";
---

<Layout title={title} video={video}>
    <div class="basicFill">
      <TitleItem text="3D modeller" link="/projects/renders/" />

      <p class="subtitle">
        Voice Acting is a fun hobby of mine, heres a few of the things ive
        worked on:
      </p>
    </div>
    <div class="basicFill">
      <div class="items">
        {
          pages.map((page) => (
            <Item
              image={page.frontmatter.image}
              title={page.frontmatter.title}
              ml={Math.floor(Math.random() * 35) + 5 + "%"}
              link={page.url}
            />
          ))
        }
      </div>
    </div>
</Layout>
