---
import Layout from "../../../layouts/ProjectIndexLayout.astro";
import AnimBlock from "../../../components/AnimationBlock.astro";
import Item from "../../../components/Item.astro";
const title = "Programs";
import "../../../styles/Projects.css";
import "../../../styles/HoverUnderline.css";
const pages = await Astro.glob("../programming/*.mdx");
import video from "../../../images/PortfolioVideo.mp4";
import TitleItem from "../../../components/TitleItem.astro";
---

<Layout title={title} video={video}>
    <TitleItem text="programmer" link="/projects/programming/" />

    <p class="subtitle" style="margin-bottom: 30%;">
      Computers are my life and programming them is my passion. Enjoy some of my
      favourite projects:
    </p>

    <Item
    image="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/PDF_icon.svg/1792px-PDF_icon.svg.png?height=200width=150"
    title="Programming Guides"
    ml={Math.floor(Math.random() * 35) + 5 + "%"}
    link="/projects/programming/codingguides/"
    />

    <div class="items">
      {
        pages.map((page) => (
          <Item
            image={page.frontmatter.image}
            title={page.frontmatter.title}
            ml={Math.floor(Math.random() * 35) + 5 + "%"}
            link={page.url}
          />
        ))
      }
    </div>
</Layout>
