---
const { frontmatter } = Astro.props;
import Nav from "../components/NavBar.astro";
import logo from "../images/logo.jpg";
const backPri = frontmatter.colour.backPri;
const backSec = frontmatter.colour.backSec;
import Anim from "../components/AnimationBlock.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={logo} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title} - Thomas Lower</title>
    </head>
    <body>
        <Nav />
        <div class="backColour">
            <div class="item">
                <Anim class="anim" startLocation="bottom">
                    <h1 class="projectTitle">{frontmatter.title}</h1>
                </Anim>
                <Anim class="anim" startLocation="right">
                    <img
                        class="imgOverride"
                        src={frontmatter.image}
                        alt="primary image of the render"
                    />
                </Anim>
            </div>
            <div class="containerV">
                <slot />
            </div>
        </div>
    </body>
    <style define:vars={{ backPri, backSec }}>
        @import "@fontsource-variable/rubik";
        @import "@fontsource/comic-neue";
        @import "@fontsource-variable/outfit";

        body {
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
        }
        .backColour {
            background-image: linear-gradient(var(--backPri), var(--backSec));
        }
        .basicFill {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;
        }
        div.containerV {
            justify-content: stretch;
            flex-direction: column;
            align-items: center;
        }
        .img {
            width: 40%;
            border-radius: 8px;
        }
        .anim {
            width: 40%;
        }
    </style>
</html>
