---
const { frontmatter } = Astro.props;
import Nav from "../components/NavBar.astro";
import logo from "../images/logo.jpg";
const backPri = frontmatter.colour.backPri;
const backSec = frontmatter.colour.backSec;
import Anim from "../components/AnimationBlock.astro";
import "../styles/Default.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={logo} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title} - Thomas Lower</title>
    </head>
    <body class="backImage">
        <Nav />
        <div class="container hContainer" style="padding-top: 5%; padding-bottom: 10%;">
            <Anim startLocation="bottom">
                <section>
                    <h1 class="title">{frontmatter.title}</h1>
                </section>
            </Anim>
            <section style="width:80%;">
                <img
                    src={frontmatter.image}
                    alt="primary image of the render"
                />
            </section>
        </div>
        <div class="listContainer">
            <slot />
        </div>
    </body>
    <style define:vars={{ backPri, backSec }}>
        @import "@fontsource-variable/rubik";
        @import "@fontsource/comic-neue";
        @import "@fontsource-variable/outfit";

        .backImage {
            background-image: linear-gradient(var(--backPri), var(--backSec));
        }

        .title,
        .subtitle {
            color: white;
        }
    </style>
</html>
